<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/SeleniumProjectB18/src/test_spring2020B18Automation/java/day04_TestNGDropDown/TC1.java">
        <classes>
            <class name="day04_TestNGDropDown.TC1">
                <methods>
                    <include name="test_dropDown_verification"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="C:/SeleniumProjectB18/src/test_spring2020B18Automation/java/day04_TestNGDropDown/TC2.java">
        <classes/>
    </test>
</suite>